

// src="dist/basicLightbox.min.js"
* {
    box-sizing: border-box;
}



body {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
    padding: 0;
    background-image: linear-gradient(to right, #00BFFF50 38%, #f9d81c50 40%, #f9d81c50 100%);
}

button {    
    display: inline-block;
    margin: 0;
    padding: auto;
}

#root {
    display: flex;
    min-width: 90vw;
    min-height: 100vh;
}

.leftdiv {
    text-align: center;
    padding: 0.5rem;
    width: 40%;
}

.rightdiv {
    width: 60%;
    padding: 0.5rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0 40px 0;
    padding: 0;
}

.button {
    display: inline-block;
    background-color: rgb(44, 151, 187);
    border: 1px solid #212121;
    border-radius: 5px;
    color: #212121;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    width: 30%;
    padding: 0.5rem;

    &:hover {
        background-color: transparent;
    }
}

.leftdiv__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.leftdiv__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #212121;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding-right: 0.5rem;
    text-align: center;
    width: 95%;
    border-bottom: 1px dashed #212121;
    margin-bottom: 20px;
}

.list-item__button {
    display: inline-block;
    background-color: transparent;
    border: 0.5px solid #212121;
    border-radius: 5px;
    color: inherit;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    min-width: 40%;
    padding: 0.5rem;
    border: none;
    border: 1px solid transparent;

    &.btndel {
        background-color: #fa8077bb;

        &:hover {
            background-color: transparent;
            color: #fa8077bb;
            border-color: #fa8077bb;
        }
    }

    &.btnedit {
        background-color: #00e43188;

        &:hover {
            background-color: transparent;
            color: #00e43188;
            border-color: #00e43188;
        }
    }
}

.rightdiv__book-img {
    max-width: 30%;
    height: auto;

    &:hover {
        transform: scale(1.02);
            filter: drop-shadow(8px 8px 5px rgba(71, 71, 71, 0.418));
            transition: all 250ms ease-in-out;
    }
}

.booktitle {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.book-form {
    border-radius: 10px;
    padding: 24px;
    background-color: #fafafa;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &>*:not(:last-child) {
        margin-bottom: 24px;
    }

    &>:last-child{
        text-align: center;
    }
}

.label-box {
    position: relative;
    color: #000;

    & label {
        position: absolute;
        left: 5px;
        transform: translateY(25%);
        transition: transform 0.3s ease-in-out;
        
    }

    & input {
        position: inherit;
        z-index: 2;
        width: 100%;
        height: 30px;
        &:focus {
            border: 2px solid #555;
            background-color: lightblue;
        }

        &:focus + label {
            transform: translateY(-100%);
            transition: transform 0.3s ease-in-out;
        }
    }
}

h2 {
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    color: #000;
    margin-top: 0;
}

