
    <form class="book-form" action="">
        <label>
           
            <input type="text" placeholder="Author" name="author" />
        </label>
        <label>
            Title
            <input type="text" name="title" />
        </label>
        <label>
            img url
            <input type="text" name="img" />
        </label>
        <label>
            Plot
            <input type="text" name="plot" />
        </label>
        <button class="btn btn-save" type="button">Save</button>
    </form>
    
