<li id={{id}} class="leftdiv__list-item">
    <p class="booktitle">{{title}}</p>
    <div class="leftdiv__list-item-buttons">
        <button class="list-item__button btndel" type="button">Delete</button>
        <button class="list-item__button btnedit" type="button">Edit</button>
    </div>
</li>`